.container-fluid,nav {
    background-color: #252839;
}

.bg-4 {
    margin-top: 10%;
    padding: 2% 4% 5%;
}

.container {
  padding-top: 7%
}

p,a {
    color: #ffffff;
}

.container {
  ul {
    li {
      a {
        color: #000000;
      }
    }
  }
}

.div {
  .div {
    .div {
      .button {
        color: #1bc120;
      }
    }
  }
}