.footer,nav {
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #252839;
}

// .hamburger {
//   width: 3rem;
//   height: 0.5rem;
//   background-color: black;
//   margin: 0.5rem 0;
// }

.navbar-header {
  margin-right: 0.5rem;
}
#hamburger-menu {
  position: fixed;
  top: 0.5rem;
  left: 0.5rem;
  background-color: transparent;
  border-radius: 0.7rem;
}

#classRecordTemplate {
  padding: 3% 0.5% 0.5%;
}

.card {
  padding: 2% 3% 3%;
  width: 45rem;
  align-content: center;
}

.uib-tab > a {
  color: #005580;
}

.btn {
  margin-bottom: 0.1rem;
}

#block {
  padding: 2% 1% 1%;
  height: inherit;
  width: inherit;
  align-content: center;
}

img {
  height: 20rem;
  width: 20rem;
  margin: 0.5rem;
  padding: 0.5rem;
  background: #FFFFFF;
}
.container {
  padding-top: 7%;
  padding-bottom: 7%;
}

a , p {
  color: #ffffff;
}

.container {
  ul {
    li {
      a {
        color: #000000;
      }
    }
  }
}

tr {
  td {
    color: #000000;
  }
}

.div {
  .div {
    .div {
      .button {
        color: #1bc120;
      }
    }
  }
}

.col-sm-9, .col-sm-4, .col-sm-3, .form-group, label , #searchBar {
  margin-bottom: 0.25%;
  margin-top: 0.25%;
}

table-hover thead tr:hover th, .table-hover tbody tr:hover td {
  background-color:  #b3d9ff;
}

.divider {
  position: relative;
  border-bottom: 0.2rem solid #d9d9d9;
  margin-top: 1.5%;
  margin-bottom: 1.5%;
}

#assignButton {
  align-items: flex-end;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 10rem; /* bottom = footer height */
}

footer-view {
  padding-top: 3%;
  background-color:  #252839;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 10rem;
  text-align: center;
  padding-bottom: 3%;
}

.align {
    text-align: center;
}
