<div class="container" ng-cloak>
  <div>
    <label><h2>{{ activityUpdate.activity.type }}</h2></label>
  </div>
  <div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Students</th>
          <th>Scores</th>
        </tr>
      </thead>
      <tbody>
        <form>
          <tr ng-repeat="student in activityUpdate.students track by student._id">
            <td>{{ student.fullName }}</td>
            <td><input type="number" ng-model="student.score" class="form-control"></td>
          </tr>
        </form>
      </tbody>
    </table>
  </div>
  <div class="col-sm-offset-9 col-sm-3">
    <button type="button" ng-click="activityUpdate.save()" class="btn btn-primary btn-block">Save</button>
  </div>
</div>
