<!--<div class="container" ng-cloak>
  <div>
    <label><h2>{{ activityUpdate.activity.type }}</h2></label>
  </div>
  <div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Students</th>
          <th>Scores</th>
        </tr>
      </thead>
      <tbody>
        <form>
          <tr ng-repeat="student in activityUpdate.students track by student._id">
            <td>{{ student.fullName }}</td>
            <td><input type="number" ng-model="student.score" class="form-control"></td>
          </tr>
        </form>
      </tbody>
    </table>
  </div>
  <div class="col-sm-offset-9 col-sm-3">
    <button type="button" ng-click="activityUpdate.save()" class="btn btn-primary btn-block">Save</button>
  </div>
</div>
</div>-->

<!--enchanced-ui-->

<div class="container" ng-cloak>
  <div class="jumbotron">
    <form class="form-horizontal">
      <legend><h2>{{ activityUpdate.activity.type }}</h2></legend>
      <div class="col-sm-8">
      	<label class="col-sm-offset-2">Name</label>
      	<label class="col-sm-offset-2">Score</label>	
      </div>
      <div ng-repeat="student in activityUpdate.students track by student._id">
        <div class="form-group">
          <div class="col-sm-10">
            <label class="col-sm-3 control-label">{{ student.fullName }}</label>
            <div class="col-sm-3">
              <input type="number" class="form-control" ng-model="student.score">
            </div>
          </div>
        </div>
      </div>
    </form>
    <div class="col-sm-offset-4 col-sm-1">
      <button type="button" class="btn btn-primary btn-lg btn-block btn-sm" ng-click="activityUpdate.save()">Save</button>
    </div>
  </div>
</div>
