<div class="container" ng-cloak>
  <div>
    <label>{{ activityUpdate.activity.type }}</label>
  </div>
  <div>
    <table>
      <thead>
        <tr>
          <th>Students</th>
          <th>Scores</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="student in activityUpdate.students track by student._id">
          <td>{{ student.fullName }}</td>
          <td><input type="number" ng-model="student.score"></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <button type="button" ng-click="activityUpdate.save()">Save</button>
  </div>
</div>