<div class="container">
	<div class="col-md-6">
	<legend><h3>Change Password</h3></legend>
	<div class="jumbotron">
		<div class="form-group">
			<label>Old Password</label>
			<input type="text" class="form-control" ng-model="settingsChange.oldPassword">
			<label>New Password</label>
			<input type="text" class="form-control" ng-model="settingsChange.newPassword">
			<label>Retype New Password</label>
			<input type="text" class="form-control" ng-model="settingsChange.retypedPassword"><br>
			<div class="col-md-3">
			<button type="button" class="btn btn-primary btn-block" ng-click="settingsChange.save()">Save</button>
			</div>
		</div>
	</div>
	</div>
</div>
