<div id="classRecordTemplate">
  <form>
    <div class="form-group">
      <div class="col-sm-2">
        Stub Code:
        <label></label>
      </div>
      <div class="col-sm-4">
        Subject:
        <label></label>
      </div>
      <div class="col-sm-2">
        Course Number:
        <label></label>
      </div>
      <div class="col-sm-1">
        Credits:
        <label></label>
      </div>
      <div class="col-sm-1">
        Units:
        <label></label>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-3">
        Time Schedule:
        <label></label>
      </div>
      <div class="col-sm-3">
        Room:
      </div>
    </div>
  </form>
  <form>
    <uib-tabset active="active">
      <uib-tab index="0" heading="Class Record">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <td>Name of Students</td>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="student in classRecord.students track by student._id">
              <td>{{ student.fullName }}</td>
            </tr>
          </tbody>
        </table>
      </uib-tab>
      <uib-tab index="$index + 1" ng-repeat="activityType in classRecord.activityTypes" heading="{{activityType.name}}">
        <label>Date:</label>
        <p class="input-group">
          <input type="text" class="form-control" uib-datepicker-popup="MMMM dd, yyyy" ng-model="classRecord.newActivity.date" is-open="classRecord.popup.opened" datepicker-options="classRecord.dateOptions" ng-required="true" close-text="Close"/>
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="classRecord.openPicker()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>
        <label>Total Score:</label> <input type="number" class="form-control" min="1" ng-model="classRecord.newActivity.totalScore"/>
        <button class="btn btn-primary" ng-click="classRecord.addNewActivity(activityType.name)">Add new {{ activityType.name }}</button>
        <table>
          <thead>
            <tr ng-repeat="activity in classRecord.filterActivityList(activityType.name)">
              <td>
                {{ activity.date }}
                {{ activity.totalScore }}
                <button type="button" class="btn btn-primary" ui-sref="app.course.session.activityUpdate({ activityId: activity._id})">Edit</button>
              </td>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="student in classRecord.students track by student._id">
              <td ng-repeat="record in student[activityType.name]">
                {{ record.score }}
              </td>
            </tr>
          </tbody>
        </table>
      </uib-tab>
    </uib-tabset>
  </form>
</div>
