<div class="container">
  <!-- <table class="table table-striped">
    <thead>
      <tr>
        <th>Stub Code</th>
        <th>Course</th>
        <th>Credit Units</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="course in courses">
        <td>{{ course.name }}</td>
        <td>{{ }}</td>
        <td>{{ }}</td>
      </tr>
    </tbody>
  </table> -->
  <!-- TODO: add link to add students for a certain course -->
  <div><h3>Class Record</h3></div>
  <ul class="nav nav-tabs">
     <li><a href="#a" data-toggle="tab"></a></li>
     <li><a href="#b" data-toggle="tab">b</a></li>
     <li><a href="#c" data-toggle="tab">c</a></li>
     <li><a href="#d" data-toggle="tab">d</a></li>
  </ul>

  <div class="tab-content">
     <div class="tab-pane active" id="a">...</div>
     <div class="tab-pane" id="b">...</div>
     <div class="tab-pane" id="c">...</div>
     <div class="tab-pane" id="d">...</div>
   </div>
</div>
