<spinner ng-if="!classrollUpload.isReady"></spinner>
<div ng-if="classrollUpload.isReady">
  <div class="container">
    <div>
      <legend><h3>Classroll Excel Upload</h3></legend>
      <div class="jumbotron">
        <div class="form-group">
          <span class="col-md-2 control-span">Select file:</span>
          <button type="file" ngf-select="classrollUpload.uploadFiles($file, $invalidFiles)"
          accept=".xls,.csv,.xlsx" ngf-max-height="2000" ngf-max-size="2MB">
          Browse...</button>
        </div>
        <div class="form-group">
          <span class="col-md-2 control-span">File:</span>
          <div style="font:smaller">{{classrollUpload.file.name}} {{classrollUpload.errFile.name}}
            {{classrollUpload.errFile.$error}} {{classrollUpload.errFile.$errorParam}}
          </div>
          <div class="col-md-offset-2">
            <span class="progress" ng-show="classrollUpload.file.progress >= 0">
              <div style="width:{{classrollUpload.file.progress}}%"
              ng-bind="classrollUpload.file.progress + '%'"></div>
            </span>
          </div>
          {{errorMsg}}
        </div>
        <div class="form-group">
          <div class="col-md-offset-2">
            <button class="btn btn-primary" ng-click="classrollUpload.save()">Upload Excel</button>
          </div>
        </div>
      </div>
      <br>
    </div>
  </div>

</div>
