<div class="container">
  <form class="form-inline">
    <div class="form-group">
      <label for="idNumberField" class="label-control">ID Number: </label>
      <input type="text" class="form-control" ng-model="courseStudentEnroll.student.idNumber" id="idNumberField" placeholder="ID Number">
    </div>
    <button type="submit" class="btn btn-primary" ng-click="courseStudentEnroll.addToList()">Add Student</button>
  </form>
  <br>
  <div>
    <table class="table table-bordered table-hover table-reponsive">
      <thead class="thead-inverse">
        <tr>
          <th>ID Number</th>
          <th>Firstname</th>
          <th>Lastname</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="student in courseStudentEnroll.students">
          <td>{{ student.idNumber }}</td>
          <td>{{ student.firstName }}</td>
          <td>{{ student.lastName }}</td>
        </tr>
      </tbody>
    </table>
    <button type="button"  class="btn btn-default" ng-click="courseStudentEnroll.enrollStudents()">Enroll Students</button>
    <!-- TODO: Check what this button does -->
  </div>
  <div>
  </div>
</div>
