<div class="container">
  <form class="form-horizontal">
    <div class="jumbotron text-center">
      <legend>
        <h1></h1></legend>
        <div class="form-group">
          <label class="col-sm-4 control-label">Course :</label>
          <div class="col-sm-4">
            <input type="text" name="username" placeholder="Add Course" class="form-control" ng-model="" required/>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-4 col-sm-4">
            <button class="btn btn-primary btn-lg btn-block" ng-click="">Add</button>
          </div>
        </div>
      </form>
      <div class="container">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <td>
                table1
              </td>
              <td>
                table2
              </td>
              <td>
                table3
              </td>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="">
              <td>{{ table1 }}</td>
              <td>{{ table2 }}</td>
              <td>{{ table3 }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
