<div class="container">
  <form class="form-horizontal">
    <div class="panel panel-default">
      <div class="panel-heading">
        Meeting
      </div>
      <div class="panel-body">
        Title:
        Tags: *
        Attendees:
        When: (from - to) time and date
        Location: generate /add room
        Topic:
        Description:
        Create agenda template/Upload pdf
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
      </div>
      <div class="panel-body">

      </div>
    </div>
  </form>
</div>
