<div class="container">
  <form class="form-horizontal">
    <legend><h3> Create your Grading System </h3></legend>
    <div class="form-group">
      <h4>Overall Percentage</h4>
        <div class="col-md-5">
          <label>Lecture:</label>
          <input type="text" class="form-control" ng-model="gradingTemplate.total.lecture.percentage">
          <label>Laboratory:</label>
          <input type="text" class="form-control" ng-model="gradingTemplate.total.laboratory.percentage">
        </div>
      </div>
      <div class="divider"></div>
    <div class="form-group">
      <h4>Activity Type</h4>
      <div class="col-md-5">
        <div class="btn-group">
          <label class="btn btn-primary" ng-model="gradingTemplate.classType" uib-btn-radio="'lecture'">Lecture</label>
          <label class="btn btn-primary" ng-model="gradingTemplate.classType" uib-btn-radio="'laboratory'">Laboratory</label>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-5">
        <label>Activity Name:</label>
        <input type="text" class="form-control" ng-model="gradingTemplate.activity.name">
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-5">
        <label>Total Percentage:</label>
        <input type="text" class="form-control" ng-model="gradingTemplate.activity.percentage">
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-5">
        <label>Multiple:</label>
        <br>
        <input type="checkbox" ng-model="gradingTemplate.activity.isMultiple">
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-offset-3 col-md-2">
        <button type="button" class="btn btn-primary btn-md btn-block" ng-click="gradingTemplate.addActivity()">Add</button>
      </div>
    </div>
    <div class="divider"></div>
  </form>
  <div class="table-responsive">
    <table class="table table-bordered table-hover table-reponsive">
      <thead>
        <tr>
            <td><label>Category</label></td>
            <td><label>Activity Name</label></td>
            <td><label>Percentage</label></td>
            <td><label>Multiple</label></td>
            <td><label>Action</label></td>
        </tr>
      </thead>
      <tbody>
        <!-- NOTE: body of the table -->
        <tr ng-repeat="act in gradingTemplate.activityList">
          <td>{{ act.category }}</td>
          <td>{{ act.name }}</td>
          <td>{{ act.percentage }}</td>
          <td>{{ act.isMultiple }}</td>
          <td>
            <button type="button" name="button">Update</button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="col-md-offset-9 col-md-3">
      <button type="button" class="btn btn-primary btn-md btn-block">Save</button>
    </div>
  </div>
</div>
