<div class="container">
  <form class="form-horizontal">
    <legend><h3> Create your Grading System </h3></legend>
    <div class="form-group">
      <h4>Overall Percentage</h4>
      <div class="col-md-5">
        <input type="checkbox" ng-model="gradingTemplate.hasLaboratory">
        <label><h5>Has a laboratory?</h5></label>
        <br>
        <label>Lecture:</label>
        <input type="text" class="form-control" ng-model="gradingTemplate.total.lecture.percentage">
        <div ng-show="gradingTemplate.hasLaboratory">
          <label>Laboratory:</label>
          <input type="text" class="form-control" ng-model="gradingTemplate.total.laboratory.percentage">
        </div>
        <label>Passing Percentage:</label>
        <input type="text" class="form-control" ng-model="gradingTemplate.total.passingPercentage">
      </div>
    </div>
    <div class="divider"></div>
    <div class="form-group">
      <h4>Activity Type</h4>
      <div class="col-md-5">
        <div class="btn-group" ng-show="gradingTemplate.hasLaboratory">
          <label class="btn btn-primary" ng-model="gradingTemplate.classType" uib-btn-radio="'lecture'">Lecture</label>
          <label class="btn btn-primary" ng-model="gradingTemplate.classType" uib-btn-radio="'laboratory'">Laboratory</label>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-5">
        <label>Activity Name:</label>
        <input type="text" class="form-control" ng-model="gradingTemplate.activity.name">
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-5">
        <label>Total Percentage:</label>
        <input type="text" class="form-control" ng-model="gradingTemplate.activity.percentage">
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-5">
        <input type="checkbox" ng-model="gradingTemplate.activity.isMultiple">
        <label>Multiple</label>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-offset-3 col-md-2">
        <button type="button" class="btn btn-primary btn-md btn-block" ng-click="gradingTemplate.addActivity()">Add</button>
      </div>
    </div>
    <div class="divider"></div>
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <td><label>Category</label></td>
          <td><label>Activity Name</label></td>
          <td><label>Percentage</label></td>
          <td><label>Multiple</label></td>
          <td><label>Action</label></td>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="act in gradingTemplate.activityList">
          <td>{{ act.category }}</td>
          <td>{{ act.name }}</td>
          <td>{{ act.percentage }}</td>
          <td>{{ act.isMultiple }}</td>
          <td align="center">
            <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span></button>
            <button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="col-md-offset-9 col-md-3">
      <div class="form-group">
        <button type="button" class="btn btn-primary btn-md btn-block" ng-click="gradingTemplate.save()">Create Template</button>
      </div>
      <br>
    </div>
  </form>
</div>
