<div class="container">
  <form class="form-horizontal">
    <div class="jumbotron">
      <label class="col-md-2 control-label">Department:</label>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Add new Department" ng-model="deptUpsert.department.name">
        <span class="input-group-btn">
          <button class="btn btn-primary" type="button" ng-click="deptUpsert.save()">Add</button>
        </span>
      </div>
      <div class="container">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <td>
                List of Department
              </td>
              <td>
                Action
              </td>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="department in deptUpsert.departments">
            <td>{{ department.name }}</td>
            <td><button type="button" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-remove"></span> Remove
          </button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</form>
</div>
