<div class="container">
  <div>
    <legend><h3>Student Excel Upload</h3></legend>
    <div class="jumbotron">
      <div class="form-group">
        <span class="col-md-2 control-span">Select file:</span>
        <button type="file" ngf-select="massUpload.uploadFiles($file, $invalidFiles)"
        accept=".xls,.csv,.xlsx" ngf-max-height="2000" ngf-max-size="2MB">
        Browse...</button>
      </div>
      <div class="form-group">
        <span class="col-md-2 control-span">File:</span>
        <div style="font:smaller">{{massUpload.file.name}} {{massUpload.errFile.name}}
          {{massUpload.errFile.$error}} {{massUpload.errFile.$errorParam}}
        </div>
        <div class="col-md-offset-2">
          <span class="progress" ng-show="massUpload.file.progress >= 0">
            <div style="width:{{massUpload.file.progress}}%"
            ng-bind="massUpload.file.progress + '%'"></div>
          </span>
        </div>
        {{errorMsg}}
      </div>
      <div class="form-group">
        <div class="col-md-offset-2">
          <button class="btn btn-primary" ng-click="massUpload.save()">Upload Excel</button>
        </div>
      </div>
    </div>
    <br>
  </div>
</div>
