<div class="container">
  <form class="form-horizontal">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4> Meeting</h4>
      </div>
      <div class="panel-body">
        <div class="form-group has-feedback" ng-keyup="meetingUpsert.isInvalidTitle" ng-class="{'has-error': meetingUpsert.isInvalidTitle}">
          <label class="col-md-2 control-label">Title</label>
          <div class="col-md-9">
            <input type="text" name="meeting-title" placeholder="Meeting Topic" class="form-control" ng-model="meetingUpsert.meeting.title">
            <i ng-show="meetingUpsert.isInvalidTitle" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></i>
          </div>
        </div>
      <div class="form-group">
        <label class="col-md-2 control-label">Attendees</label>
        <div class="col-md-9">
          <ui-select multiple ng-model="meetingUpsert.selectedAttendees" theme="bootstrap" close-on-select="false">
            <ui-select-match placeholder="Who are the people concerned in this meeting">{{$item.fullName}}</ui-select-match>
            <ui-select-choices repeat="attendee in meetingUpsert.attendees | filter: $select.search">
              <div class="text-danger" ng-bind-html="attendee.fullName | highlight: $select.search"></div>
              <small ng-bind-html="attendee.lastName | highlight: $select.search"></small>
            </ui-select-choices>
          </ui-select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-2 control-label">Time</label>
        <div class="col-md-9">
          <div uib-timepicker ng-model="meetingUpsert.time" ng-change="changed()"></div>
        </div>
      </div>
      <div class="form-group" >
        <label class="col-md-2 control-label">Date</label>
        <div class="col-md-9">
          <li class="input-group">
            <input type="text" class="form-control" uib-datepicker-popup="MMMM dd, yyyy"
            ng-model="meetingUpsert.date"  placeholder="When will the meeting be scheduled" is-open="meetingUpsert.popup.opened" datepicker-options="meetingUpsert.dateOptions" ng-required="true" close-text="Close"/>
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="meetingUpsert.openPicker()"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </li>
        </div>
      </div>
      <div class="form-group has-feedback" ng-keyup="meetingUpsert.isInvalidLocation" ng-class="{'has-error': meetingUpsert.isInvalidLocation}">
        <label class="col-md-2 control-label">Location</label>
        <div class="col-md-9">
          <input type="text" name="meeting-location" placeholder="Set the location of your meeting" class="form-control" ng-model="meetingUpsert.meeting.location">
          <i ng-show="meetingUpsert.isInvalidLocation" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></i>
        </div>
      </div>
      <div class="form-group has-feedback" ng-keyup="meetingUpsert.isInvalidDescription" ng-class="{'has-error': meetingUpsert.isInvalidDescription}">
        <label class="col-md-2 control-label">Description</label>
        <div class="col-md-9">
          <textarea ng-model="meetingUpsert.meeting.description" style="resize:vertical" placeholder="Enter details of the meeting" class="form-control"></textarea>
          <i ng-show="meetingUpsert.isInvalidDescription" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></i>
          <!-- <input type="text" name="meeting-description" class="form-control" ng-model="meetingUpsert.meeting.description"> -->
        </div>
      </div>
      <!-- <div class="form-group">
        <label class="col-md-2 control-label">Upload</label>
        <div class="col-md-9">
          <input type="file" ngf-select ng-model="meetingUpsert.file" multiple accept="application/pdf,image/*"/>
        </div>
      </div> -->
      <div class="col-md-offset-8 col-md-3">
        <button type="button" class="btn btn-primary btn-md btn-block" ng-click="meetingUpsert.save()"> Save </button>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>
        Created Meetings
      </h4>
    </div>
    <div class="panel-body">
      <uib-accordion close-others="oneAtATime">
        <div uib-accordion-group class="panel-info" ng-repeat="createdMeeting in meetingUpsert.meetings" is-open="status.open">
          <uib-accordion-heading>
            {{ createdMeeting.createdAt | date }} -
            {{ createdMeeting.title }}
             <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
          </uib-accordion-heading>
          <div class="form-group">
            <label class="col-md-offset-1 control-label">Title:</label>
            <span> {{ createdMeeting.title }} </span>
          </div>
          <div class="form-group">
            <label class="col-md-offset-1 control-label">Time & Date:</label>
            <span>{{ createdMeeting.schedule | date: 'shortTime' }} - {{ createdMeeting.schedule | date: 'longDate'}} </span>
          </div>
          <div class="form-group">
            <label class="col-md-offset-1 control-label">Location:</label>
            <span > {{ createdMeeting.location }}</span>
          </div>
          <div class="form-group">
            <label class="col-md-offset-1 control-label">Description:</label>
            <span> {{ createdMeeting.description }}</span>
          </div>
          <div class="form-group">
            <label class="col-md-offset-1 control-label">Attendees:</label>
            <ul class="col-md-offset-1" ng-repeat="attendee in createdMeeting.attendees track by attendee._id">
              {{ attendee.fullName }}
            </ul>
          </div>
        </div>
      </uib-accordion>
    </div>
  </div>
</form>
</div>
