<nav class="navbar navbar-fixed-top">
  <div class="navbar-header">
    <a class="navbar-brand" href="#">COE</a>
  </div>
  <ul class="nav navbar-nav">
    <li><a href="#">Home</a></li>
    <li><a href="#">Student Registration</a></li>
    <li><a href="#" ui-sref="app.student.list">List of Student</a></li>
    <li><a href="#">Teacher Registration</a></li>
    <li><a href="#">Notification</a></li>
    <li><a href="#">Archive</a></li>
    <li class="dropdown">
      <a class="btn dropdown" data-toggle="dropdown" href="#">
        <span class="glyphicon glyphicon-menu-down"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Account</a></li>
        </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#" ui-sref="app.login"><span class="glyphicon glyphicon-log-in"></span>
        Log-in</a></li>
      <li><a href="#" ui-sref="app.login"><span class="glyphicon glyphicon-question-sign"></span></a></li>

    </ul>
      </nav>
