<nav ng-if="navBar.user" id="navBar" class="navbar navbar-fixed-top">
  <div class="navbar-header">
    <a class="navbar-brand">COE</a>
  </div>
  <ul class="nav navbar-nav">
    <li><a>Home</a></li>
    <li class="dropdown" ng-show="navBar.user.hasARole('secretary')">
      <a class="btn dropdown" data-toggle="dropdown">
        Students <span class="glyphicon glyphicon-menu-down"></span></a>
      <ul class="dropdown-menu">
        <li><a href="#" ui-sref="app.student.list">Master List</a></li>
        <li><a href="#" ui-sref="app.student.create">Student Registration</a></li>
        <li><a href="#" ui-sref="app.student.monitor">Student Monitoring</a></li>
      </ul>
    </li>
    <li class="dropdown" ng-show="navBar.user.hasARole('secretary')">
      <a class="btn dropdown" data-toggle="dropdown">
        Faculty <span class="glyphicon glyphicon-menu-down"></span></a>
      <ul class="dropdown-menu">
        <li><a href="#" ui-sref="app.teacher.list">Faculty List</a></li>
        <li><a href="#" ui-sref="app.teacher.create">Faculty Registration</a></li>
      </ul>
    </li>
    <li class="dropdown" ng-show="navBar.user.hasARole('department head') || navBar.user.hasARole('secretary')">
      <a class="btn dropdown" data-toggle="dropdown">
        Subject<span class="glyphicon glyphicon-menu-down"></span></a>
      <ul class="dropdown-menu">
        <li><a href="#" ui-sref="app.subject.assign">Assign Subjects</a></li>
        <li><a href="#" ui-sref="app.subject.create">Create Subject</a></li>
      </ul>
    </li>
    <li><a href="#" ui-sref="app.teacher.main" ng-show="navBar.user.hasARole('faculty')">Courses</a></li>
    <li><a href="#" ui-sref="app.meeting.create" ng-show="navBar.user.hasARole('department head')">Meeting</a></li>
    <li><a href="#" ui-sref="app.degree.create" ng-show="navBar.user.hasARole('department head')">Degree & Department</a></li>
    <li><a href="#" ui-sref="app.notification.show" ng-show="navBar.user.hasARole('faculty')">Notifications</a></li>
    <!-- <li><a href="#" ui-sref="app.department.create" ng-show="navBar.isDepartmentHead">Department</a></li> -->
    <!-- <li class="dropdown">
      <a class="btn dropdown" data-toggle="dropdown">
        Others<span class="glyphicon glyphicon-menu-down"></span></a>
      <ul class="dropdown-menu">
        <li><a>Account</a></li>
      </ul>
    </li> -->
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <!-- <li><a ui-sref="app.login"><span class="glyphicon glyphicon-log-in"></span>
        Log-in</a></li> -->
    <li class="dropdown" ng-show="navBar.user.hasARole('faculty')">
      <a href="#" class="btn dropdown" data-toggle="dropdown">
        Settings <span class="glyphicon glyphicon-menu-down"></span>
      </a>
      <ul class="dropdown-menu">
        <li><a href="#" ui-sref="app.settings.update" ng-show="navBar.user.roleName === 'dean'">Change Semester</a></li>
        <li><a href="#" ui-sref="app.settings.changePassword">Change Password</a></li>
      </ul>
    </li>
    <li><a ui-sref="app.login" id="logout" ng-click="navBar.logout()" ><span class="glyphicon glyphicon-log-out"></span>
        Log-out</a></li>
    <li><a><span class="glyphicon glyphicon-question-sign"></span></a></li>
  </ul>
</nav>
