<div class="container">
    <legend><h2>Notifications</h2></legend>
    <div class="panel-body">
        <uib-accordion close-others="oneAtATime">
            <div uib-accordion-group class="panel-info" ng-repeat="notification in notificationView.notifications">
                <uib-accordion-heading>
                    {{ notification.title }} <span class="pull-right">{{ notification.date.toLocaleString() }}</span>
                </uib-accordion-heading>
                <div class="form-group">
                    <h4>{{ notification.content.header}} </h4>
                    <body>{{ notification.content.body }}</body>
                </div>
            </div>
        </uib-accordion>
    </div>
<!--     <div class="list-group">
        <div class="form-group">
            <hr>
            <h4 class="list-group-item-heading">Title: {{ notification.title }}</h4>
            <h4 class="list-group-item-heading">Date: {{ notification.date.toLocaleString() }}</h4><br>
        </div>
        <div>
            <h4 class="list-group-item-heading">{{ notification.content.header }}</h4>
            <h4 class="list-group-item-text">{{ notification.content.body }}</h4>
            <hr>
        </div>
    </div> -->
</div>
