<div class="container">
  <form class="form-horizontal">
    <div class="jumbotron">
      <legend>
        <h2>Student Information</h2>
      </legend>
      <div class="form-group">
        <div class="row">
          <div class="col-sm-2"><label>Fullname:</label></div>
          <div class="col-sm-4"><label> {{ studentView.student.lastName }} ,
            {{ studentView.student.firstName}} {{ studentView.student.middleName }} </label></div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-sm-2"><label>Student I.D:</label></div>
            <div class="col-sm-4"><label>{{ studentView.student.studentId }}</label></div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-sm-2"><label>Course:</label></div>
            <div class="col-sm-4"><label>{{ studentView.student.course }}</label></div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-sm-2"><label>Birthday:</label></div>
            <div class="col-sm-4"><label>{{ studentView.student.birthday | date:'fullDate' }}</label></div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-sm-2"><label>Gender:</label></div>
            <div class="col-sm-4"><label>{{ studentView.student.gender }}</label></div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-sm-2"><label>Address:</label></div>
            <div class="col-sm-4"><label>{{ studentView.student.address }}</label></div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-sm-2"><label>Contact Number:</label></div>
            <div class="col-sm-4"><label>{{ studentView.student.contactNumber }}</label></label></div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-sm-2"><label>Parent/Guardian:</label></div>
            <div class="col-sm-4">  <label>{{ studentView.student.guardian }}</label></div>
          </div>
        </div>
        <div class="form-group">
          <label>{{isGraduating}}</label>
        </div>
      </div>
      <div class="jumbotron">
        <div class="form-group">
          <div class="col-sm-4">
            <button class="btn btn-primary btn-lg btn-block" ng-click="">
              Edit
            </button>
          </div>
          <div class="col-sm-4">
            <button class="btn btn-primary btn-lg btn-block" ng-click="">
              Action2
            </button>
          </div>
          <div class="col-sm-4">
            <button class="btn btn-primary btn-lg btn-block" ng-click="">
              Grades
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
