<div ng-switch="studentList.isReady">
  <spinner ng-switch-when="false"></spinner>
  <div class="container" ng-switch-when="true">
    <div class="col-sm-6"></div>
    <div class="col-sm-4"></div>
    <a class="btn btn-success col-sm-2" ng-href="{{studentList.url}}" download="{{studentList.fileName}}" ng-click="studentList.print()">Print to Excel</a>
    <form class="form-horizontal">
      <legend>
        <h1>List of Students</h1>
      </legend>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search list by entering student name or ID number" ng-model="studentList.searchText" class="form-control">
      </div>
      <br>
      <div>
        <div class="col-sm-2">
          Limit: <input ng-model="studentList.limit" type="number" min="{{ studentList.min }}" max="{{ studentList.max }}">
        </div>
      </div>
      <div class="form-group">
        <table class="table table-bordered table-hover table-reponsive ">
          <thead class="thead-inverse">
            <tr>
              <td>
                <label>
                  ID Number
                </label>
              </td>
              <td>
                <label>
                  Last Name
                </label>
              </td>
              <td>
                <label>
                  First Name
                </label>
              </td>
              <td>
                <label>
                  Course & Year
                </label>
              </td>
              <td>
                <label>
                  Action
                </label>
              </td>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="student in (studentList.filteredStudents = (studentList.students | filter:studentList.searchText | limitTo:studentList.limit | orderBy:'lastName'))">
              <td>{{ student.idNumber }}</td>
              <td>{{ student.lastName }}</td>
              <td>{{ student.firstName }}</td>
              <td>{{ student.degree}} - {{ student.yearLevel }}</td>
              <td class="text-center">
                <button class="btn btn-primary btn-sm btn-block" ui-sref="app.student.view({ studentId: student._id })">
                  Details
                </button>
                <!-- <button type="button" class="btn btn-default btn-sm"  ui-sref="app.student.view({ studentId: student._id })">
                <span class="glyphicon glyphicon-folder-close"></span> More...
              </button> -->
            </td>
          </tr>
        </tbody>
      </table>
      <button class="btn btn-primary" ng-click="studentList.increaseLimit()">Show More</button>
    </form>
  </div>
</div>
