<div class="container">
  <div>
    <h2>{{ studentCourses.student.fullName }}</h2>
    <h3>{{ studentCourses.student.degree }} - {{ studentCourses.student.yearLevel }}</h3>
    <h6>Number of failures: {{ studentCourses.student.numberOfFailures }}</h6>
  </div>
  <label>Filter:</label>
  <div class="btn-group" uib-dropdown keyboard-nav>
    <button type="button" id="simple-btn-keyboard-nav" class="btn btn-primary" uib-dropdown-toggle>
      {{ studentCourses.selectedSemester }} <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="simple-btn-keyboard-nav">
      <li role="menuitem" ng-repeat="semester in studentCourses.semesterList"><a href ng-click="studentCourses.changeSemester(semester)">{{ semester }}</li>      
    </ul>
  </div>
  <div class="btn-group" uib-dropdown keyboard-nav>
    <button type="button" id="simple-btn-keyboard-nav" class="btn btn-primary" uib-dropdown-toggle>
      {{ studentCourses.selectedSchoolYear }} <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="simple-btn-keyboard-nav">
      <li role="menuitem" ng-repeat="schoolYear in studentCourses.schoolYearList"><a href ng-click="studentCourses.changeSchoolYear(schoolYear)">{{ schoolYear }}</a></li>      
    </ul>
  </div>
  <div>
    <table class="table table-bordered table-striped">
      <thead>
        <tr class="align">
          <td>Course no.</td>
          <td>Subject</td>
          <td>Instructor</td>
          <td>Lecture Schedule</td>
          <td>Lecture Room</td>
          <td>Laboratory Schedule</td>
          <td>Laboratory Room</td>
          <td>Rating</td>
          <td>Final Grade</td>
          <td>Status</td>
        </tr>
      </thead>
      <tbody>
        <tr class="align" ng-repeat="record in studentCourses.filteredRecords">
          <td>{{ record.course.subject.courseNumber }}</td>
          <td>{{ record.course.subject.name }}</td>
          <td>{{ record.course.lecture.instructor.fullName }}</td>
          <td>{{ record.course.lecture.time }}</td>
          <td>{{ record.course.lecture.room }}</td>
          <td>{{ record.course.laboratory.time }}</td>
          <td>{{ record.course.laboratory.room }}</td>
          <td>{{ record.finalRating.toFixed(2) }}%</td>
          <td>{{ record.finalGrade }}</td>
          <td>{{ record.status }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>