<div class="container">
  <form class="form-horizontal">
    <legend>
      <h1>Student Information</h1></legend>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>Personal Information</h4></div>
          <div class="panel-body">
            <div class="form-group has-feedback"
            ng-keyup="studentUpsert.isInvalidIdNumber" ng-class="{'has-error': studentUpsert.isInvalidIdNumber, 'has-success': studentUpsert.isInvalidIdNumber}">
            <label class="col-md-2 control-label">Student ID</label>
            <div class="col-md-9">
              <input type="text" placeholder="Student ID" class="form-control" ng-model="studentUpsert.student.idNumber">
              <i ng-show="studentUpsert.isInvalidIdNumber" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></i>
            </div>
          </div>
            <div class="form-group has-feedback"
            ng-keyup="studentUpsert.isInvalidLastName" ng-class="{'has-error' : studentUpsert.isInvalidLastName}">
            <label class="col-md-2 control-label">Last Name</label>
            <div class="col-md-9">
              <input type="text" name="last-name" placeholder="Last Name" class="form-control text-capitalize" style="text-transform:uppercase" ng-model="studentUpsert.student.lastName" />
              <i ng-show="studentUpsert.isInvalidLastName" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></i>
            </div>
          </div>
          <div class="form-group has-feedback" ng-keyup="studentUpsert.isInvalidFirstName" ng-class="{'has-error': studentUpsert.isInvalidFirstName}">
            <label class="col-md-2 control-label">First Name</label>
            <div class="col-md-9">
              <input type="text" name="first-name" placeholder="First Name" class="form-control text-capitalize" ng-model="studentUpsert.student.firstName"/>
              <i ng-show="studentUpsert.isInvalidFirstName" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></i>
            </div>
          </div>
          <div class="form-group has-feedback"
          ng-keyup="studentUpsert.isInvalidMiddleName" ng-class="{'has-error': studentUpsert.isInvalidMiddleName}">
          <label class="col-md-2 control-label">Middle Name</label>
          <div class="col-md-9">
            <input type="text" name="middle-name" placeholder="Middle Name" class="form-control text-capitalize" ng-model="studentUpsert.student.middleName" />
            <i ng-show="studentUpsert.isInvalidMiddleName" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></i>
          </div>
        </div>
      <div class="form-group">
        <label class="col-md-2 control-label">Degree</label>
        <div class="col-md-4">
          <select class="form-control" ng-model="studentUpsert.student.degree">
            <optgroup label="Degree" />
            <option ng-repeat="degree in studentUpsert.degrees" value="{{degree.name}}"> {{degree.name}}</option>
          </select>
        </div>
        <label class="col-md-2 control-label">Year Level</label>
        <div class="col-md-3">
          <select class="form-control" ng-model="studentUpsert.student.yearLevel">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        </div>
      </div>
      <div class="form-group has-feedback">
        <label class="col-md-2 control-label">Date of Birth</label>
        <div class="col-md-4">
          <li class="input-group">
            <input type="text" class="form-control" placeholder="mm/dd/yyyy" uib-datepicker-popup="MMMM dd, yyyy" ng-model="studentUpsert.student.birthday" ng-class="{'has-error': studentUpsert.isInvalidBirthday}" is-open="studentUpsert.popup.opened" datepicker-options="studentUpsert.dateOptions" ng-required="true" close-text="Close"/>
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="studentUpsert.openPicker()"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </li>
          <i ng-show="studentUpsert.isInvalidBirthday" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></i>
          <!-- <input type="date" placeholder="yyyy-mm-dd" class="form-control" ng-keyup="studentUpsert.isInvalidBirthday" ng-class="{'has-error': studentUpsert.isInvalidBirthday}" ng-model="studentUpsert.student.birthday" /> -->
        </div>
        <label class="col-md-2 control-label">Gender</label>
        <div class="col-md-2">
          <div class="btn-group">
            <label class="btn btn-default" ng-model="studentUpsert.student.gender" uib-btn-radio="'Male'">Male</label>
            <label class="btn btn-default" ng-model="studentUpsert.student.gender" uib-btn-radio="'Female'">Female</label>
          </div>
        </div>
      </div>
      <div class="form-group has-feedback"
      ng-keyup="studentUpsert.isInvalidHomeAddress" ng-class="{'has-error': studentUpsert.isInvalidHomeAddress}">
      <label class="col-md-2 control-label">Home Address</label>
      <div class="col-md-9">
        <input type="text" name="home-address" placeholder="Home Address" class="form-control" ng-model="studentUpsert.student.homeAddress" />
        <i ng-show="studentUpsert.isInvalidHomeAddress" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></i>
      </div>
    </div>
    <div class="form-group has-feedback"
    ng-keyup="studentUpsert.isInvalidCityAddress" ng-class="{'has-error': studentUpsert.isInvalidCityAddress}">
    <label class="col-md-2 control-label">City Address</label>
    <div class="col-md-9">
      <input type="text" name="home-address" placeholder="City Address" class="form-control" ng-model="studentUpsert.student.cityAddress" />
      <i ng-show="studentUpsert.isInvalidCityAddress" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></i>
    </div>
  </div>
  <div class="form-group has-feedback"
  ng-keyup="studentUpsert.isInvalidContactNumber" ng-class="{'has-error': studentUpsert.isInvalidContactNumber}">
  <label class="col-md-2 control-label">Contact Number</label>
  <div class="col-md-9">
    <input type="text" name="contact-number" placeholder="Mobile Contact Number" class="form-control" ng-model="studentUpsert.student.contactNumber" />
    <i ng-show="studentUpsert.isInvalidContactNumber" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></i>
  </div>
</div>
<div class="form-group has-feedback"
ng-keyup="studentUpsert.isInvalidReligion" ng-class="{'has-error': studentUpsert.isInvalidReligion}">
<label class="col-md-2 control-label">Religion (Optional)</label>
<div class="col-md-9">
  <input type="text" name="religion" placeholder="Religion" class="form-control" ng-model="studentUpsert.student.religion" />
  <i ng-show="studentUpsert.isInvalidReligion" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></i>
</div>
</div>
<div class="form-group has-feedback"
ng-keyup="studentUpsert.isInvalidCitizenship" ng-class="{'has-error': studentUpsert.isInvalidCitizenship}">
<label class="col-md-2 control-label">Citizenship (Optional)</label>
<div class="col-md-9">
  <input type="text" name="citizenship" placeholder="Citizenship" class="form-control" ng-model="studentUpsert.student.citizenship" />
  <i ng-show="studentUpsert.isInvalidCitizenship" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></i>
</div>
</div>
<div class="form-group has-feedback"
ng-keyup="studentUpsert.isInvalidEmail" ng-class="{'has-error': studentUpsert.isInvalidEmail}">
<label class="col-md-2 control-label">Email Address</label>
<div class="col-md-9">
  <input type="email" name="e-mail" placeholder="Email Address" class="form-control" ng-model="studentUpsert.student.email" />
  <i ng-show="studentUpsert.isInvalidEmail" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></i>
</div>
</div>
<div class="form-group">
</div>
<div class="form-group">
  <div class="col-md-offset-2 col-md-9">
    <input type="checkbox" name="status" ng-model="studentUpsert.student.isGraduating" /> I'm a Graduating Student
  </div>
</div>
</div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Emergency Contact Information</h4></div>
    <div class="panel-body">
      <div class="form-group">
        <label class="col-md-2 control-label">Father's Name</label>
        <div class="col-md-4">
          <input type="text" name="parent-name" placeholder="Father's Name" class="form-control" ng-model="studentUpsert.student.father.fullName" />
        </div>
        <label class="col-md-2 control-label">Contact Number</label>
        <div class="col-md-3">
          <input type="text" name="parent-name" placeholder="Contact Number" class="form-control" ng-model="studentUpsert.student.father.contactNumber" />
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-2 control-label">Mother's Name</label>
        <div class="col-md-4">
          <input type="text" name="parent-name" placeholder="Mother's Name" class="form-control" ng-model="studentUpsert.student.mother.fullName" />
        </div>
        <label class="col-md-2 control-label">Contact Number</label>
        <div class="col-md-3">
          <input type="text" name="parent-name" placeholder="Contact Number" class="form-control" ng-model="studentUpsert.student.mother.contactNumber" />
        </div>
      </div>
    </div>
  </div>
  <!-- picture upload (undone) -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>Picture</h4>
    </div>
    <div>
      <img src="{{ studentUpsert.defaultPicture }}" height="100px" width="100px" alt="Student's Picture">
      <div class="form-group">
        <span class="col-md-2 control-span">Select file:</span>
        <button type="file" ngf-select="studentUpsert.uploadFiles($file, $invalidFiles)"
        accept="image/*" ngf-max-height="2000">
          Browse...
        </button>
      </div>
      <div class="form-group">
        <span class="col-md-2 control-span">File:</span>
        <div style="font:smaller">{{studentUpsert.file.name}} {{studentUpsert.errFile.name}}
          {{studentUpsert.errFile.$error}} {{studentUpsert.errFile.$errorParam}}
        </div>
        <div class="col-md-offset-2">
          <span class="progress" ng-show="studentUpsert.file.progress >= 0">
            <div style="width:{{studentUpsert.file.progress}}%"
            ng-bind="studentUpsert.file.progress + '%'"></div>
          </span>
        </div>
        {{errorMsg}}
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="col-md-offset-4 col-md-4">
        <button class="btn btn-primary btn-lg btn-block" ng-click="studentUpsert.save()">
          {{ studentUpsert.buttonLabel }}
        </button>
      </div>
    </div>
  </div>
</form>
</div>
