<div class="container">
  <form class="form-horizontal">
    <div class="jumbotron">
      <table class="table">
        <thead>
          <th>
            <h2>Student Information</h2>
          </th>
        </thead>
        <tr>
          <td>Full Name</td>
          <td> {{ studentView.student.lastName }} ,
            {{ studentView.student.firstName}} {{ studentView.student.middleName }}</td>
          </tr>
          <tr>
            <td>Student I.D.</td>
            <td>{{ studentView.student.idNumber }}</td>
          </tr>
          <tr>
            <td>Degree</td>
            <td>{{ studentView.student.degree }} - {{studentView.student.yearLevel}}</td>
          </tr>
          <tr>
            <td>Birthday</td>
            <td>{{ studentView.student.birthday | date:'fullDate' }}</td>
          </tr>
          <tr>
            <td>Gender</td>
            <td>{{ studentView.student.gender }}</td>
          </tr>
          <tr>
            <td>Home Address</td>
            <td>{{ studentView.student.homeAddress }}</td>
          </tr>
          <tr>
            <td>City Address</td>
            <td>{{ studentView.student.cityAddress }}</td>
          </tr>
          <tr>
            <td>Contact Number</td>
            <td>{{ studentView.student.contactNumber }}</td>
          </tr>
          <tr>
            <td>Religion</td>
            <td>{{ studentView.student.religion}}</td>
          </tr>
          <tr>
            <td>Citizenship</td>
            <td>{{ studentView.student.citizenship }}</td>
          </tr>
          <tr>
            <td>E-Mail</td>
            <td>{{ studentView.student.email }}</td>
          </tr>
          <tr>
            <td>Father</td>
            <td>{{ studentView.student.father.fullName }}</td>
          </tr>
          <tr>
            <td>Father's Contact No. </td>
            <td>{{ studentView.student.father.contactNumber}}</td>
          </tr>
          <tr>
            <td>Mother:</td>
            <td>{{ studentView.student.mother.fullName }}</td>
          </tr>
          <tr>
            <td>Mother's Contact No.</td>
            <td>{{ studentView.student.mother.contactNumber }}</td>
          </tr>
        </table>
      </div>
      <div class="jumbotron">
        <div class="form-group">
          <div class="col-md-6">
            <button class="btn btn-primary btn-block" ui-sref="app.student.edit({ studentId: studentView.student._id })">
              Edit
            </button>
          </div>
          <div class="col-md-6">
            <button class="btn btn-primary btn-block" ui-sref="app.student.courses({ studentId: studentView.student._id })">
              Enrolled courses
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
