<div ng-switch="studentList.isReady">
  <spinner ng-switch-when="false"></spinner>
  <div class="container" ng-switch-when="true">
    <div class="col-sm-6"></div>
    <div class="col-sm-4"></div>
    <a class="btn btn-success col-sm-2" ng-href="{{studentList.url}}" download="{{studentList.fileName}}" ng-click="studentList.print()">Print to Excel</a>
    <form class="form-horizontal">
      <legend>
        <h1>List of Students</h1>
      </legend>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search list by entering student name or ID number" ng-model="studentList.searchText" class="form-control">
      </div>
      <br>
      <div>
      </div>
      <div class="form-group">
      <p>
        <div class="gridStyle center" ui-grid="studentList.gridOptions" ui-grid-exporter ui-grid-selection></div>
      </p>
      <p>
        <a class="btn btn-success" ng-click="studentList.selectAll()">
          Select All
        </a>
        <a class="btn btn-danger" ng-click="studentList.clearAll()">
          Clear All
        </a>
        <a class="btn btn-info" ng-click="studentList.toggleAdvancedFilter()">
          Toggle Advanced Filter
        </a>
      </p>
    </form>
  </div>
</div>
