<div class="container">
    <form class="form-horizontal">
        <div class="jumbotron">
            <legend>
                <h2>List of Student</h2></legend>
            <div class="form-group" ng-repeat="student in studentView.students">
              <div class="col-sm-4">
                  <label>{{ student.lastName }}</label>
              </div>
                <div class="col-sm-4">
                    <label>{{ student.firstName }}</label>
                </div>
                <button class="btn btn-primary" ng-click="studentUpsert.save()">
                    View Information
                </button>
            </div>
        </div>
    </form>
</div>
