<div class="container">
  <form class="form-horizontal">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>Subject Information</h4>
      </div>
      <div class="panel-body">
        <div class="form-group">
          <label class="col-md-2 control-label">Subject Name</label>
          <div class="col-md-8">
            <input type="text" name="subject-name" placeholder="Enter subject name" class="form-control" ng-model="subjectUpsert.subject.name">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-2 control-label">Course Number</label>
          <div class="col-md-8">
            <input type="text" name="subject-courseNo" placeholder="Enter course no." class="form-control" ng-model="subjectUpsert.subject.courseNumber">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-2 control-label">Credits</label>
          <div class="col-md-8">
            <input type="text" name="subject-credits" placeholder="Enter number of credits" class="form-control" ng-model="subjectUpsert.subject.credits">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-2 control-label">Units</label>
          <div class="col-md-8">
            <input type="text" name="subject-units" placeholder="Enter number of units" class="form-control" ng-model="subjectUpsert.subject.units">
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-offset-6 col-md-3">
            <button class="btn btn-primary btn-md btn-block" ng-click="subjectUpsert.save()">
              {{ subjectUpsert.buttonLabel }}
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>List of Subjects</h4>
      </div>
      <div class="panel-body">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <td>
                List of Subjects
              </td>
              <td>
                Action
              </td>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="subject in subjectUpsert.subjects">
              <td>{{ subject. name }}</td>
              <td><button type="button" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-remove"></span> Remove
              </button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </form>
</div>
