<!-- department head page -->
<div class="container">
  <form>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>Subject Assigment</h4>
      </div>
      <div class="panel-body">
        <div class="form-group">
          <div class="row">
            <div class="col-sm-2">
              <label>
                Teacher:
              </label>
            </div>
            <div class="col-sm-4">
              <!-- <ui-select ng-model="subjectAssign.selected" theme="bootstrap" ng-disabled="ctrl.disabled" style="min-width: 300px;" title="Choose a person">
              <ui-select-match placeholder="Select a person in the list or search his name/age...">{{$select.selected.name}}</ui-select-match>
              <ui-select-choices group-by="'country'" repeat="person in subjectAssign.people | filter: {name: $select.search, age: $select.search}">
              <div class="text-info" ng-bind-html="person.name | highlight: $select.search"></div>
              <small>
              email: {{person.email}}
              age: <span ng-bind-html="''+person.age | highlight: $select.search"></span>
            </small>
          </ui-select-choices> -->
        </ui-select>
        <ui-select ng-model="subjectAssign.teacher" theme="bootstrap" title="Choose a Teacher">
          <ui-select-match placeholder="Select or search a teacher in the list...">{{$select.selected.fullName}}</ui-select-match>
          <ui-select-choices group-by="'department'" repeat="teacher in subjectAssign.teachers | filter: $select.search">
            <span ng-bind-html="teacher.fullName | highlight: $select.search"></span>
            <div>
            </div>
            <small ng-bind-html="teacher.username | highlight: $select.search"></small>
          </ui-select-choices>
        </ui-select>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-sm-2">
        <label>
          Subjects:
        </label>
      </div>
      <div class="col-sm-4">
        <ui-select multiple ng-model="subjectAssign.subjectsAssigned" theme="bootstrap" close-on-select="false">
          <ui-select-match placeholder="Select or search a subject in the list...">{{$item.name}}</ui-select-match>
          <ui-select-choices repeat="subject in subjectAssign.subjects | filter: $select.search">
            <div class="text-danger" ng-bind-html="subject.name | highlight: $select.search"></div>
            <small ng-bind-html="subject.credits | highlight: $select.search"></small>
          </ui-select-choices>
        </ui-select>
      </div>
    </div>
  </div>
</div>
</div>
<!-- Secretary page-->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>Subject Assignment</h4>
    </div>
    <div class="panel-body">
      Teacher: {{teacher.name}}
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <td>
              Subject Code
            </td>
            <td>
              Subject Name
            </td>
            <td>
              Time Schedule
            </td>
            <td>
              Room
            </td>
            <td>
              Credits
            </td>
            <td>
              Laboratory
            </td>
          </tr>
        </thead>
        <tbody>
          <!-- body -->
        </tbody>
      </table>
      <div class="panel-footer">
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="col-sm-offset-4 col-sm-4">
        <button class="btn btn-primary btn-lg btn-block" ng-click="">
          Save/Update
        </button>
      </div>
    </div>
    <div class="panel-footer">
    </div>
  </div>
</form>
</div>
