<div>
  Subject Upsert Page
</div>
<table>
  <tr>
    <td>
      Name:
    </td>
    <td>
      <input ng-model="subjectUpsert.subject.name">
    </td>
  </tr>
  <tr>
    <td>
      Course No.:
    </td>
    <td>
      <input ng-model="subjectUpsert.subject.courseNumber">
    </td>
  </tr>
  <tr>
    <td>
      Stub code (optional):
    </td>
    <td>
      <input ng-model="subjectUpsert.subject.stubCode">
    </td>
  </tr>
  <tr>
    <td>
      <button class="btn btn-success" ng-click="subjectUpsert.subject.save()">{{ subjectUpsert.buttonLabel }}</button>
    </td>
  </tr>
</table>
