<div class="container">
  <div class="animationload" ng-hide="teacherMain.isCoursesReady">
    <div class="osahanloading"></div>
  </div>
  <div>
    <h2>{{ teacherMain.user.fullName }}</h2>
  </div>
  <div>
    <table class="table table-bordered table-striped">
      <thead>
        <tr class="align">
          <td>Stubcode</td>
          <td>Course No.</td>
          <td>Units</td>
          <td>Lecture Schedule</td>
          <td>Lecture Room</td>
          <td>Laboratory Schedule</td>
          <td>Laboratory Room</td>
          <td>Class Record</td>
        </tr>
      </thead>
      <tbody>
        <tr class="align" ng-repeat="course in teacherMain.courses">
          <td>{{ course.stubcode }}</td>
          <td>{{ course.subject.courseNumber }}</td>
          <td>{{ course.subject.units }}</td>
          <td>{{ course.lecture.time }}</td>
          <td>{{ course.lecture.room }}</td>
          <td>{{ course.laboratory.time }}</td>
          <td>{{ course.laboratory.room }}</td>
          <td class="text-center">
            <button class="btn btn-primary" ui-sref="app.course.classRecord({ courseId: course._id })">View</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>