<div class="container">
  <div>
    {{ teacherMain.user.fullName }}
  </div>
  <div>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <td>Stubcode</td>
          <td>Course No.</td>
          <td>Units</td>
          <td>Lecture Schedule</td>
          <td>Lecture Room</td>
          <td>Laboratory Schedule</td>
          <td>Laboratory Room</td>
          <td>Options</td>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="course in teacherMain.courses">
          <td>{{ course.stubcode }}</td>
          <td>{{ course.subject.courseNumber }}</td>
          <td>{{ course.subject.units }}</td>
          <td>{{ course.lecture.time }}</td>
          <td>{{ course.lecture.room }}</td>
          <td>{{ course.laboratory.time }}</td>
          <td>{{ course.laboratory.room }}</td>
          <td class="text-center">
            <button type="btn btn-default" ui-sref="app.course.classRecord({ courseId: course._id })">Record</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>