<div class="container">
  <form class="form-horizontal">
      <legend>
        <h2>List of Teachers</h2></legend>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Search for..." ng-model="searchText" class="form-control">
        </div>
        <br>
        <div class="form-group">
          <table class="table table-bordered table-hover table-reponsive">
            <thead>
              <tr>
                <td>
                  ID no.
                </td>
                <td>
                  Last Name
                </td>
                <td>
                  First Name
                </td>
                <td>
                  Department
                </td>
                <td>
                  Action
                </td>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="teacher in teacherList.teachers | filter: searchText">
                <td>{{ teacher.idNumber }}</td>
                <td>{{ teacher.lastName }}</td>
                <td>{{ teacher.firstName }}</td>
                <td>{{ teacher.departments[0] }}</td>
                <td class="text-center">
                  <button class="btn btn-primary btn-sm btn-block" ui-sref="app.teacher.view({ teacherId: teacher._id })">
                    Details
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
    </form>
  </div>
