<div class="container">
  <form class="form-horizontal">
    <div class="jumbotron">
      <table class="table">
        <thead>
          <th><h2>Teacher Information</h2></th>
        </thead>
        <tbody>
          <tr>
            <td>Full Name</td>
            <td>{{ teacherView.teacher.lastName }} ,
              {{ teacherView.teacher.firstName}} {{ teacherView.teacher.middleName }}</td>
            </tr>
            <tr>
              <td>Teacher I.D.</td>
              <td>{{ teacherView.teacher.teacherId }}</td>
            </tr>
            <tr>
              <td>Department</td>
              <td>{{ teacherView.teacher.course }}</td>
            </tr>
            <tr>
              <td>Position</td>
              <td>{{ teacherView.teacher.position}}</td>
            </tr>
            <tr>
              <td>Employee's Status</td>
              <td>{{ teacherView.teacher.status}}</td>
            </tr>
            <tr>
              <td>Birthday</td>
              <td>{{ teacherView.teacher.birthday | date:'fullDate' }}</td>
            </tr>
            <tr>
              <td>Gender</td>
              <td>{{ teacherView.teacher.gender }}</td>
            </tr>
            <tr>
              <td>Address</td>
              <td>{{ teacherView.teacher.address }}</td>
            </tr>
            <tr>
              <td>Contact Number</td>
              <td>{{ teacherView.teacher.contactNumber }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="jumbotron">
        <div class="form-group">
          <div class="col-sm-4">
            <button class="btn btn-default btn-block" ng-click="">
              Edit
            </button>
          </div>
          <div class="col-sm-4">
            <button class="btn btn-default btn-block" ng-click="">
              Action2
            </button>
          </div>
          <div class="col-sm-4">
            <button class="btn btn-default btn-block" ng-click="">
              Assign
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
