<div class="container">
  <form class="form-horizontal">
    <legend><h1>Teacher Information</h1></legend>
    <div class="panel panel-default">
      <div class="panel-heading"><h4>Personal Information</h4></div>
      <div class="panel-body">
        <div class="form-group">
          <label class="col-md-2 control-label">Last Name:</label>
          <div class="col-md-9">
            <input type="text" name="last-name" placeholder="Last Name"
            class="form-control" ng-model="teacherUpsert.teacher.lastName" required/>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-2 control-label">First Name:</label>
          <div class="col-md-9">
            <input type="text" name="first-name" placeholder="First Name"
            class="form-control" ng-model="teacherUpsert.teacher.firstName" required/>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-2 control-label">Middle Name:</label>
          <div class="col-md-9">
            <input type="text" name="middle-name" placeholder="Middle Name" class="form-control"
            ng-model="teacherUpsert.teacher.middleName" required/>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-2 control-label">Teacher's ID:</label>
          <div class="col-md-9">
            <input type="text" id="teacher-id" placeholder="Teacher ID" class="form-control"
            ng-model="teacherUpsert.teacher.idNumber">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-2 control-label">Civil Status:</label>
          <div class="col-md-9">
              <select class="form-control" ng-model="teacherUpsert.teacher.civilStatus">
                <option value="Single">Single</option>
                <option value="Married">Married</option>
                <option value="Divorce">Divorce</option>
                <option value="Widowed">Widowed</option>
              </select>
            <!-- <input type="text" name="civil-status" placeholder="Enter your Civil Status ex. Single" class="form-control" ng-model="teacherUpsert.teacher.civilStatus"/> -->
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-2 control-label">Department:</label>
          <div class="col-md-9">
            <select class="form-control" ng-model="teacherUpsert.teacher.department">
              <optgroup label="Department">
                <option ng-repeat="department in teacherUpsert.departments" value="{{department.name}}"> {{department.name}} </option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-2 control-label">Rank:</label>
            <div class="col-md-9">
              <select id="rank" class="form-control"  ng-model="teacherUpsert.teacher.roleName">
                <optgroup label="Rank">
                  <option value='department head'>Department Head</option>
                  <option value='faculty'>Faculty</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-2 control-label">Employment Status</label>
              <div class="col-md-9">
                <select id="employeeStatus" class="form-control"  ng-model="teacherUpsert.teacher.status">
                  <optgroup label="Status">
                    <option value="Full-time Faculty">Full-time Faculty</option>
                    <option value="Part-time Faculty">Part-time Faculty</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-2 control-label">Date of Birth:</label>
                <div class="col-md-4">
                  <li class="input-group">
                    <input type="text" class="form-control" placeholder="mm/dd/yyyy" uib-datepicker-popup="MMMM dd, yyyy" ng-model="teacherUpsert.teacher.birthday"  is-open="teacherUpsert.popup.opened" datepicker-options="teacherUpsert.dateOptions" ng-required="true" close-text="Close"/>
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-default" ng-click="teacherUpsert.openPicker()"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                  </li>
                  <!-- <input type="date" placeholder="yyyy-mm-dd" class="form-control" ng-model="teacherUpsert.teacher.profile.birthday"/> -->
                </div>
                <label class="col-md-2 control-label">Gender:</label>
                <div class="col-md-3">
                  <div class="btn-group">
                    <label class="btn btn-default" ng-model="teacherUpsert.teacher.gender" uib-btn-radio="'Male'">Male</label>
                    <label class="btn btn-default" ng-model="teacherUpsert.teacher.gender" uib-btn-radio="'Female'">Female</label>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-2 control-label">Religion (Optional):</label>
                <div class="col-md-9">
                  <input type="text" name="religion" placeholder="Religion" class="form-control" ng-model="teacherUpsert.teacher.religion"/>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-2 control-label">Citizenship(Optional):</label>
                <div class="col-md-9">
                  <input type="text" name="citizenship" placeholder="Citizenship" class="form-control" ng-model="teacherUpsert.teacher.citizenship"/>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-2 control-label">Address:</label>
                <div class="col-md-9">
                  <input type="text" name="Address" placeholder="Permanent Address" class="form-control"  ng-model="teacherUpsert.teacher.address" />
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-2 control-label">Contact No.:</label>
                <div class="col-md-9">
                  <input type="text" name="contact-number" placeholder="Contact Number" class="form-control"  ng-model="teacherUpsert.teacher.contactNumber"/>
                </div>
              </div>
              <div class="form-group">
                <!-- <label class="col-md-2 control-label">Email Address:</label>
                <div class="col-md-9">
                  <input type="email" name="e-mail" placeholder="ex. juan@amazing.com" class="form-control" ng-model="teacherUpsert.teacher.email"/>
                </div> -->
              </div>
            </div>
          </div>

          <!-- picture upload (undone) -->
          <div class="panel panel-default">
            <div class="panel-heading"><h4>Picture</h4></div>
            <div class="panel-body">
              <div class="fileinput fileinput-new" data-provides="fileinput">
                <div class="fileinput-preview thumbnail" data-trigger="fileinput"></div>
                <div>
                  <span class="btn btn-default btn-file"><span class="fileinput-new">Select image</span><input type="file" name="picture" ng-model="teacherUpsert.teacher.image"></span>
                </div>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading"><h4>Account Information</h4></div>
            <div class="panel-body">
              <div class="form-group">
                <label class="col-md-2 control-label">Username:</label>
                <div class="col-md-9">
                  <input type="text" placeholder="Username"
                  class="form-control" ng-model="teacherUpsert.teacher.username" required/>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-2 control-label">Password:</label>
                <div class="col-md-9">
                  <input type="password" placeholder="Password"
                  class="form-control" ng-model="teacherUpsert.teacher.password" required/>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-2 control-label">Re-enter password:</label>
                <div class="col-md-9">
                  <input type="password" ng-model="teacherUpsert.teacher.reenterPassword" placeholder="Re-enter Password" class="form-control"/>
                </div>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="form-group">
                <div class="col-md-offset-4 col-md-4">
                  <button class="btn btn-primary btn-lg btn-block" ng-click="teacherUpsert.save()"> {{ teacherUpsert.buttonLabel }}</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
