<div class="container" style="padding-top: 5%">
    <form class="form-horizontal">
        <div class="jumbotron">
            <legend>
                <h2>Teacher Information</h2></legend>
            <div class="form-group">
                <label class="col-sm-2 control-label">Last Name</label>
                <div class="col-sm-8">
                    <input type="text" name="last-name" placeholder="Enter last name" class="form-control" ng-model="studentUpsert.student.lastName" required/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">First Name</label>
                <div class="col-sm-8">
                    <input type="text" name="first-name" placeholder="Enter first name" class="form-control" ng-model="studentUpsert.student.firstName" required/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Middle Name</label>
                <div class="col-sm-8">
                    <input type="text" name="middle-name" placeholder="Enter middle name" class="form-control" required/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Teachers' I.D/label>
                    <div class="col-sm-8">
                        <input type="text" id="teacher-id" placeholder="Enter Student ID" class="form-control">
                    </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Department</label>
                <div class="col-sm-8">
                    <select id="position" class="form-control">
                        <optgroup label="Gender">
                            <option value='{{department}}'>{{department}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Position</label>
                <div class="col-sm-8">
                    <select id="position" class="form-control">
                        <optgroup label="position">
                            <option value='Department Head'>Department Head</option>
                              <option value='Department Head'>Teacher</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Employee's Status</label>
                <div class="col-sm-8">
                    <select id="employeeStatus" class="form-control">
                        <optgroup label="Gender">
                            <option value="male">Full-time Employee</option>
                            <option value="female">Part-time Employee</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Birthday</label>
                <div class="col-sm-8">
                    <input type="date" id="birthday" placeholder="yyyy-mm-dd" class="form-control" required/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Gender</label>
                <div class="col-sm-8">
                    <select id="gender" class="form-control">
                        <optgroup label="Gender">
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Address</label>
                <div class="col-sm-8">
                    <input type="text" name="Address" placeholder="Enter Address" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Contact Number</label>
                <div class="col-sm-8">
                    <input type="text" name="contact-number" placeholder="Enter contact number" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-4">
                    <button class="btn btn-primary btn-lg btn-block" ng-click="studentUpsert.save()"> {{ teacherUpsert.buttonLabel }}</button>
                </div>
            </div>
        </div>
    </form>
</div>
